/* Center content using CSS */
body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
}


nav{
    background-color: grey;
    height: 80px;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
}

nav ul li{
    float: left;
    margin-right: 20px;
}

nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    padding: 10px;
}


nav ul li a:hover{
    text-decoration: underline;
}

