body{
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f4f4f4;
}


h1{
    color: #333;
    font-size: 36px;
    margin-bottom: 10px;
}


h2{
    color: #555;
    font-size: 30px;
    margin-bottom: 8px;
}


h3{
    color: #777;
    font-size: 24px;
    margin-bottom: 6px;
}


p{
    color: #000;
    font-size: 16px;
    line-height: 1.5;
}